[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sail-prompt
Exec=harbour-sail-prompt
Name=Sail Prompt
Name[de]=Sail Prompt
Name[en]=Sail Prompt
Name[es]=Sail Prompt
Name[fr]=Sail Prompt
Name[sv]=Sail Prompt

[X-Sailjail]
Permissions=Internet;UserDirs;WebView
OrganizationName=rabauke
ApplicationName=harbour-sail-prompt
